body {
  padding: 0;
  margin: 0;
  background-color: #222;
  font-family: 'Kanit', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: #DDD;
  padding: 1em;
  flex-direction: row;
}

nav a {
  color: #DDD;
  text-decoration: none;
}

/*slideshow stuff */
.slideshow-wrap{
  background-color: #EEE;
  margin: auto;
  margin-top: 5px;
  max-width: 90%;
  height: 750px;
  padding-top: 30px;
}

.mySlides {
  display: none;
}

.fade img{
  width: 100%;
  height: 530px;
}

.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
}


.large-pic{
  background-color: white;
  margin: auto;
  max-width: 96%;
  height: 70%;
  margin-bottom: 25px;
}

.arrow-left{
  position: absolute;
  width: auto;
  top: 50%;
  margin-top: -140px;
  padding: 10px;
  color: red;
  cursor: pointer;
}

.arrow-right{
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -140px;
  padding: 10px;
  color: red;
  cursor: pointer;
  right: 131px;
  border-radius: 3px 0 0 3px;
}

.small-selections{
  background-color: red;
  height: 160px;
  width: 96%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.indicator img {
  width: 100% !important; /*-- small images fill available space --*/
  height: 170px;
}

.slide{
  width: 24.5%;
  height: 100%;
  background-color: purple;
}

.grid-container{
  display: grid;
  margin-top: 4rem;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 90%;
  margin: auto;
  margin-top: 3rem;
}

.grid-item{
  background-color: white;
  height: 400px;
}

.card-content {
  padding: 0 .5em .7em .5em;
  display: flex;
  flex-direction: column;
  align-items: center; /*-- vertically centers card content --*/
}

.card-text {
  font-size: 1em;
  line-height: 1.2;
  align-self: flex-start;
}

footer{
  text-align: center;
  color: white;
  padding: 20px;
}

#pokemon{
  max-width: 100%;
  height: auto;
  display: table;
  margin: 0 auto;
}
