body {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: #DDD;
  padding: 1em;
  flex-direction: row;
}

nav a {
  color: #DDD;
  text-decoration: none;
}

.slideshow-wrap{
  background-color: grey;
  margin: auto;
  margin-top: 5px;
  max-width: 90%;
  height: 750px;
  padding-top: 30px;
}

.large-pic{
  background-color: white;
  margin: auto;
  max-width: 96%;
  height: 70%;
  display: block;
  margin-bottom: 25px;

}

.change-pic{
  width: 100%;
  height: 100%;
  display: block;
}

.arrow-left{
  position: absolute;
  width: auto;
  top: 50%;
  margin-top: -140px;
  padding: 10px;
  color: red;
  cursor: pointer;
}

.arrow-right{
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -140px;
  padding: 10px;
  color: red;
  cursor: pointer;
  right: 131px;
  border-radius: 3px 0 0 3px;
}

.small-selections{
  background-color: red;
  height: 160px;
  width: 96%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}

.slide{
  width: 24.5%;
  height: 100%;
  background-color: purple;
}
